p {
    font-family: "Raleway", sans-serif;
  }   
#nav-options>div>p>a{
    color: #212529;
    text-decoration: none;
}
a {
    color: #212529;
    text-decoration: none;
}
#text-content{
	text-align: left;
}
